button{
    background-image: linear-gradient(to right, rgb(255, 0, 184) 0%, rgb(100, 161, 255) 50%, rgb(0, 102, 255) 100%);
    background-size: 200%;
    color: rgb(255, 255, 255);
    border: 0px;
    transition: all 0.5s ease;
    border-radius: 20px !important;
}
button:hover{
    background-position: right center;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out 0s;
}